# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lab4.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\lab\isp\lab4\.idea\.idea.lab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
