# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.lab5.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\lab\isp\lab5\.idea\.idea.lab5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
