# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.lab1.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\lab\isp\lab1\.idea\.idea.lab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
