# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.lab7.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\lab\isp\lab7\.idea\.idea.lab7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
