# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.lab8.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\lab\isp\lab8\.idea\.idea.lab8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
